# Import Aspect bazelrc presets

try-import %workspace%/aspect.bazelrc

test --test_output=errors

# Do NOT implicitly create empty __init__.py files in the runfiles tree.
# By default, these are created in every directory containing Python source code
# or shared libraries, and every parent directory of those directories,
# excluding the repo root directory. With this flag set, we are responsible for
# creating (possibly empty) __init__.py files and adding them to the srcs of
# Python targets as required.
build --incompatible_default_to_explicit_init_py

# passes an argument `--skipLibCheck` to *every* spawn of tsc
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=always

# Use protoc toolchain, to avoid recompiling protoc.
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc=true
common --incompatible_enable_proto_toolchain_resolution

# Break protoc compilation deliberately.
common --per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*grpc.*@--GRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT

# rules_hugo violates this rule, which we should migrate off of.
common --incompatible_disallow_struct_provider_syntax=false

# rules_buf requires this; otherwise the linting rules fail with:
#  - file_descriptors[0].file_descriptor_proto: source_code_info must be present [source_code_info_present]
# See https://github.com/bufbuild/rules_buf/issues/84
common --experimental_proto_descriptor_sets_include_source_info

# boost.asio & mysql have a dependency on an SSL implementation.
# we have to explicitly tell them to use boringssl.
build --@boost.asio//:ssl=boringssl
build --@boost.mysql//:ssl=boringssl
