astroid
black
cfgv
click
dill
distlib
exceptiongroup
filelock
Flask>=2.2
flask-cors
flask_graphql
Flask-Migrate>=4.0.4
Flask-SQLAlchemy>=3.0.3
graphql-core
graphql-server[flask]==3.0.0b7
identify
importlib-metadata
importlib-resources
isort
lazy-object-proxy
mccabe
mypy-extensions
nodeenv
pathspec
pg8000
platformdirs
pre-commit
protobuf
pylint
pytest
pyyaml
requests
SQLAlchemy>=2.0.16
SQLAlchemy[mypy]>=2.0.16
toml
tomli
tomlkit
types-Flask-Cors
types-Flask-Migrate
types-requests
typing-extensions
virtualenv
wrapt
