astroid
black
boto3
boto3-stubs
cfgv
click
dill
distlib
docker
exceptiongroup
filelock
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
graphql-core
graphql-server[flask]
identify
importlib-metadata
importlib-resources
isort
lazy-object-proxy
mccabe
mypy-extensions
nodeenv
pathspec
pg8000
platformdirs
pre-commit
protobuf
pylint
pysocks
pytest
pyyaml
qbittorrent-api
requests
SQLAlchemy
SQLAlchemy[mypy]
toml
tomli
tomlkit
types-Flask-Cors
types-Flask-Migrate
types-protobuf
types-requests
typing-extensions
virtualenv
wrapt
