astroid
black
boto3
boto3-stubs
cfgv
click
dill
distlib
docker
exceptiongroup
filelock
Flask>=3.1.1
flask-cors
Flask-Migrate>=4.0.4
Flask-SQLAlchemy>=3.0.3
graphql-core
graphql-server[flask]==3.0.0b7
identify
importlib-metadata
importlib-resources
isort
Jinja2>=3.1.6
lazy-object-proxy
mccabe
mypy-extensions
nodeenv
pathspec
pg8000
platformdirs
pre-commit
protobuf>=5.29.3
pylint
pysocks
pytest
pyyaml
qbittorrent-api
requests
SQLAlchemy>=2.0.16
SQLAlchemy[mypy]>=2.0.16
toml
tomli
tomlkit
types-Flask-Cors
types-Flask-Migrate
types-protobuf
types-requests
typing-extensions
virtualenv
wrapt
