# The following flags are set to test use of new features for python toolchains
# These flags will only work with Bazel 0.25.0 or above and are only needed for
#  //tests/docker/security/... & the docker/package_managers rules.

build --incompatible_use_python_toolchains
test --incompatible_use_python_toolchains