# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v3.2.0
        hooks:
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
    -   repo: https://github.com/psf/black
        rev: 20.8b1
        hooks:
            -   id: black
    -   repo: https://github.com/pre-commit/mirrors-eslint
        rev: 'v7.15.0'  # Use the sha / tag you want to point at
        hooks:
            -   id: eslint
                files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
                types: [file]
                additional_dependencies:
                    - eslint-config-standard@16.0.2
                    - eslint-plugin-import@2.22.1
                    - eslint-plugin-node@11.1.0
                    - eslint-plugin-promise@4.2.1
                    - eslint-plugin-react@7.21.5
