--no-binary psycopg2

astroid
black
cfgv
click
dill
distlib
filelock
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
identify
importlib-metadata
importlib-resources
isort
lazy-object-proxy
mccabe
mypy-extensions
nodeenv
pathspec
platformdirs
pre-commit
psycopg2
pylint
pyyaml
sqlalchemy
toml
tomlkit
typing-extensions
virtualenv
wrapt
