black
Flask>=2.2
flask-cors
Flask-Migrate>=4.0.4
Flask-SQLAlchemy>=3.0.3
graphql-core
graphql-server[flask]==3.0.0b6
pre-commit
psycopg2
pylint
pytest
requests
SQLAlchemy>=2.0.16
SQLAlchemy[mypy]>=2.0.16
types-Flask-Cors
types-requests
